  <body class="login" >
  <!--< style="background:  url('https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg')no-repeat center center;">   -->
  
  
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card style="background:transparent ;color:white;">
      <mat-card-header   style="background:#3f51b5; border-radius: 5px; margin-bottom: 20px;">
        <mat-card-title style="color: white; font-size: 30px; text-align: center; display: block;">Login</mat-card-title>
      </mat-card-header>
      <form class="example-form" style="color: black; font-weight: bold;" [formGroup]='loginform'>
        <mat-card-content>
          <mat-form-field  appearance="outline" class="example-full-width">
            <input matInput  style=" font-size: 20px;"  placeholder="Enter Email" formControlName='Email' />
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error style="font-size: 16px;"
            *ngIf="loginform.controls['Email'].hasError('pattern') && loginform.controls['Email'].hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error style="font-size: 16px;" *ngIf="loginform.controls['Email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="handleError('Email', 'pattern')">
            You must provide a <strong>gmail</strong> or <strong>googlemail</strong> .com 
          </mat-error>
        </mat-form-field>
        <mat-form-field  appearance="outline" class="example-full-width">
          <input matInput style=" font-size: 20px;"  type="password" placeholder="Password" formControlName='Password' [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error style="font-size: 16px;"
        *ngIf="loginform.controls['Password'].hasError('maxlength') && loginform.controls['Password'].hasError('required')">
        Password must be minimum 6 characters.
      </mat-error>
      <mat-error  style="font-size: 16px;" *ngIf="loginform.controls['Password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="handleError('Password', 'pattern')">
        Yourv password must provide a <strong>Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</strong>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <div class="button-row">
    <button mat-raised-button color="primary" class="btn w-50 mx-2" (click)="login()">Log in</button>
    <button mat-raised-button color="" class="btn w-50 mx-2" (click)="glogin()"> Google </button>
  </div>
  <div class="col-md-12 text-center clearfix" style="margin-top: 20px">
    <a routerLink='/fpass' style="font-size:16px ;" > Reset Password</a>
        <p> Do have not Account ?  <button mat-raised-button color="primary" routerLink="/signup">Signup </button></p>
      </div>
</form>

  </mat-card>
</div>
</body>