/* You can add global styles to this file, and also import other style files */
body {
  background:  url('https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg')no-repeat center center;
  /* Keep the inherited background full size. */
  background-attachment: fixed; 
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// .login-wrapper {
//       // overflow: hidden;
//       // margin-top: 10%;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
//   border-radius: 5px;
//   position: relative;
//   z-index: 1;
//   background: inherit;
//   overflow: hidden;
// }

.login-wrapper {
  width: 50rem;
  height: 45rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.login-wrapper:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
  
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}


.login-wrapper .mat-card {
  padding: 40px 70px 140px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
// Boilerplate stuff



@media (max-width: 767px) {

  body{

  
  background:  url('https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg')no-repeat center center;
  /* Keep the inherited background full size. */
  // background-attachment: fixed; 
  background-size: cover;
  display: grid;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
  }

  .login-wrapper {
    width: 100%;
    height: 45rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .login-wrapper:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
}

.button-row{
display: flex;
align-items: center;
justify-content: space-around;
}