 <body class="login" >
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
    <mat-card style="background:transparent ;color:white;">
      <mat-card-header   style=" text-align: center; font-size: 26px; color: black; ">
        <mat-card-title style="color: black;">Reset Password</mat-card-title>
      </mat-card-header>
      <!-- <h3><i class="fa fa-lock fa-4x"></i></h3> -->
      <form class="example-form" style="color: black; font-weight: bold;">
        <mat-card-content>
          <mat-form-field  appearance="outline" class="example-full-width">
            <input matInput style=" font-style: italic; font-size: 20px;"#passwordResetEmail placeholder="Email" formControlName='Email'>
        </mat-form-field>
      </mat-card-content>
 <button mat-raised-button color="accent" class="btn-block" (click)="auth.ForgotPassword(passwordResetEmail.value)">Reset Password</button>

      </form>

    </mat-card>
  </div>
 </body>