<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1 t text-center bold">Book List</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- No data message -->
<p *ngIf="BookData.length <= 0" class="no-data">There is no data added yet!</p>

<!-- Books list Angular material data table -->
<div class="container" *ngIf="BookData.length > 0">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="$key">
        <th mat-header-cell *matHeaderCellDef> Book ID </th>
        <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
      </ng-container>

       <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Images </th>
        <td mat-cell *matCellDef="let element"> <img [src]="geturl(element.image)" alt="" style="width: 70px; height: 70px;" > </td>
      </ng-container>

      <ng-container matColumnDef="book_name">
        <th mat-header-cell *matHeaderCellDef> Book Name </th>
        <td mat-cell *matCellDef="let element"> {{element.book_name}} </td>
      </ng-container>

      <ng-container matColumnDef="author_name">
        <th mat-header-cell *matHeaderCellDef> Author Name </th>
        <td mat-cell *matCellDef="let element"> {{element.author_name}} </td>
      </ng-container>

      <ng-container matColumnDef="publication_date">
        <th mat-header-cell *matHeaderCellDef> Publication Date </th>
        <td mat-cell *matCellDef="let element"> {{element.publication_date}} </td>
      </ng-container>

      <ng-container matColumnDef="in_stock">
        <th mat-header-cell *matHeaderCellDef> In Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.in_stock}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element; let i = index;">
              <button mat-fab color="basic" style="margin: 10px;"   [routerLink]="['../edit-book/', element.$key]"  aria-label="Example icon button with a delete icon">
                <mat-icon> <span class="material-icons">
                  mode_edit
                  </span></mat-icon>
              </button>
          <!-- <button mat-raised-button color="accent">Delete</button> -->
          <button mat-fab color="accent"   (click)="deleteBook(i, element)" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>