<body class="login" style="background:  url('https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg')no-repeat center center;">  

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card style="color: black; font-weight: bold; background-color: transparent;" class="box">
      <mat-card-header   style="background:#3f51b5; margin-bottom: 20px; border-radius: 5px; margin-top: 0%;">
        <mat-card-title style="color: white; font-size: 30px; text-align: center; display: block;">Sign Up</mat-card-title>
      </mat-card-header>
    
      <form class="example-form" (ngSubmit)="register()"  #resetBookForm="ngForm" novalidate [formGroup]="signup">
  
        <mat-card-content>
          <mat-form-field appearance="outline" class="example-full-width">
            <input matInput style="font-size: 20px; " placeholder="Username" formControlName="username" >
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf=" signup.controls['username'].touched && !signup.controls['username'].invalid">
                userName must be minimum 3 characters 
              </mat-error>
              <mat-error *ngIf="handleError('username', 'minlength')">
            You must provide a <strong>Username</strong> minimum 3 letter
          </mat-error>
          <mat-error *ngIf="handleError('username', 'pattern')">
            Username must be alphanumeric not Allowed _ symbol and minimum 8 char
            </mat-error>
              <mat-error *ngIf="signup.controls['username'].hasError('required')">
                userName is <strong>required</strong>
              </mat-error>
          </mat-form-field>
  
          <mat-form-field  appearance="outline"  class="example-full-width">
            <input matInput style="font-size: 20px; " placeholder="Email" formControlName="Email">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error *ngIf="signup.controls['Email'].hasError('pattern') && signup.controls['Email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="signup.controls['Email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="handleError('Email', 'pattern')">
                You must provide a <strong>gmail</strong> or <strong>googlemail</strong> .com 
              </mat-error>
          </mat-form-field>
  
          <mat-form-field  appearance="outline" class="example-full-width">
            <input matInput style=" font-size: 20px;"  type="password" matInput placeholder="Password" formControlName='Password' [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error style="font-size: 16px;"
          *ngIf="signup.controls['Password'].hasError('maxlength') && signup.controls['Password'].hasError('required')">
          Password must be minimum 6 characters.
        </mat-error>
        <mat-error  style="font-size: 16px;" *ngIf="signup.controls['Password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="handleError('Password', 'pattern')">
          Your password must provide a <strong>Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</strong>
        </mat-error>
      </mat-form-field>
        </mat-card-content>
  
        <button mat-raised-button color="primary" class="btn-block">Sign Up</button>
  
      </form>
      <div class="col-md-12 text-center clearfix" style="margin-top: 20px">
        <p style="font-size: 16px;"> Already registered? <button mat-raised-button color="primary" routerLink="/login">Login </button></p>
      </div>
    </mat-card>
  </div>

  </body>