<div class="page-container">
  <mat-toolbar color="primary" style="position: sticky;">
    <button mat-icon-button class="example-icon"  (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <span>DashBoard</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>profile</mat-icon>
    </button>-->
    <span style="margin-right:20px;">{{data.email |titlecase}}</span>
    <button mat-icon-button class="example-icon" value="Logout"  (click)= "signout()" aria-label="Example icon-button with share icon">
      Logout    
      <mat-icon matSuffix>logout</mat-icon>
    </button> 
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">  
    <mat-sidenav 
    #sidenav 
    autoFocus="false" 
    mode="over" 
    [(opened)]="isMenuOpen" 
    class="sidenav" 
    (click)="onSidenavClick()"
    color="primary"
    >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="add-book">
        <mat-icon>add</mat-icon> Add Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="books-list">
        <mat-icon>format_list_bulleted</mat-icon> View Books
      </a>
      <!-- <a mat-list-item (click)="signout()">
        <mat-icon>logout</mat-icon> Logout
      </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>



